[Unit]
Description=:Piggy saving backend service

[Service]
Type=simple
User=
Group=
WorkingDirectory=
ExecStart=/usr/bin/python3 -m uvicorn restserver:app --reload --port 8880

[Install]
WantedBy=multi-user.target